.container-center {
  display:table-cell;
  vertical-align: middle;
}

.inline-block {
  display: inline-block;
}

.btn-group {
  margin: 2em 0;
}

.list-group-item .controls {
  position: absolute;
  right: 10px;
  top: percentage(1/3);
}

.repeat-animate {
  .leave {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
  }
}
