<div ng-include="'components/navbar/navbar.html'"></div>

<div>

  <div class="container">

    <div class="row">
      <div class="col-lg-12">

        <div ng-include="'components/alertFactory/alertFactory.html'"></div>

        <button type="button" class="btn btn-primary" ng-click="openPollModal()">
          <span class="glyphicon glyphicon-plus"></span>Create New Poll
        </button>

        <ul class="list-group">
          <li class="list-group-item" ng-repeat="poll in userPolls">
            <a ng-href="/polls/{{ poll._id }}">
              <h4 class="list-group-item-heading">{{ poll.name }}</h4>
              <p class="list-group-item-text">{{ poll.info }}</p>
            </a>

            <div class="controls">
              <button class="btn btn-danger btn-xs" ng-click="removePoll($index)"><span class="glyphicon glyphicon-remove"></span></button>
              <div class="badge">{{ totalVotes(poll) }}</div>
            </div>

          </li>
        </ul>

      </div>
    </div>
  </div>

</div>

<div ng-include="'components/footer/footer.html'"></div>
